<!DOCTYPE html>
<html>
    <head>
    	<title><%= title %></title>
	    <meta charset="utf-8">
	    <link href="/theme/css/style.css" rel="stylesheet" type="text/css" />
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	    <link rel="icon" href="https://cdn158.picsart.com/222491352018202.jpg?c256x256">
        <%- style %>
    </head>
    <body>
            <%- body %>
            <%- script %>
    </body>
    <script>
    </script>
</html>